$color-main: #e67e22;

$color-main-dark: #cf711f;

$color-main-light: #eea564;

$color-main-very-light: #fae5d3;

$color-main-white: #fdf2e9;

$color-grey-dark: #333;

$color-grey-5: #555;

$color-grey-6: #6f6f6f;
// (lightest grey allowed on #fdf2e9)

$color-grey-7: #767676;
// (lightest grey allowed on #fff)

$color-grey-light: #888;

$color-white: #fff;
