.section-hero {
  background-color: rgb(253, 242, 233);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
  &-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  &-img {
    width: 100%;
  }
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.customers-imgs {
  display: flex;
  & img {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: -1.6rem;
    border-radius: 50%;
    border: 3px solid $color-main-white;
    &:last-child {
      margin: 0;
    }
  }
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  & span {
    color: $color-main-dark;
    font-weight: 700;
  }
}
