.section-how-it-works {
  padding: 9.6rem 0;
}

.how {
  &-numbers {
    font-size: 8.6rem;
    font-weight: 600;
    color: #d7d7d7;
    margin-bottom: 1.2rem;
  }
  &-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  &-text-box {
    align-self: center;
  }
  &-img {
    max-width: 35%;
    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        width: 60%;
        padding-bottom: 60%;
        display: block;
        background-color: $color-main-white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
      }
      &::before {
        content: "";
        width: 45%;
        padding-bottom: 45%;
        display: block;
        background-color: $color-main-very-light;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }
}
