.section-testimonials {
  background-color: $color-main-white;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
  &-container {
    padding: 9.6rem;
  }
}

.testimonial {
  &-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  &-name {
    font-size: 1.6rem;
    color: $color-grey-6;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  &-item {
    overflow: hidden;
  }
  &-img {
    width: 100%;
    display: block;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
